<% provide(:title, 'All users') %>

<h2> Listing Users </h2>

<ul class="users">
<% @user.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td>
      <%= link_to 'Show', user, class: 'btn btn-info' %>
      <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
</ul>
