
<% provide(:title, "User's profile") %>

<h2> User's profile </h2>


<table>
  <thead>
	  <tr>
	    <th>Name</th>
	    <th>Age</th>
	    <th>Game</th>
	    <th>Email</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
  </thead>


