<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
        <title><%= yield(:title) %> | Urban Hunt</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
    	Urban Hunt is an online web application designed to provide users with a simple way to organize fun group scavenger hunts. The players are given an image of a certain location along with several hints in order to find it.  Users will be able to sign up, join an existing game, or create a new game. To make creating a game even easier, the app will provide a large selection of images for the organizer to choose from. A game organizer will be able to select the locations for the hunt, set the game’s duration, and pick a time and place to meet. Users who join the game as players will be able to meet at the start point, and may begin looking for the locations that match the images selected by the organizer. If they find these locations before the game’s duration runs out, they can use the web app to mark their finding and collect points. At the end of the duration, the player’s scores will be posted on the game page. The main goal of this app is to take the hassle out of organizing an outdoor group scavenger hunt and provide a fun way to discover new parts of the city. 
    </p>
  </body>
</html>