<% provide(:title, "Home | Urban Hunt") %>
<div class="jumbotron text-center">
  <h1>Welcome to Urban Hunt</h1>
  <h2>
    This is the home page for the Urban Hunt application.
  </h2>
  <br>
  <br>
  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary btn-lg" %>
</div>
